body
{
text-align: center;
}

#aigame
{
    width: 100%;
        font-size: 23px;
    text-align: left;
    margin: 0;
}

#instructions
{
float: right;
color: black;
}

#play
{
    font-size: 20px;
}

.footer
{
    width: 100%;
    bottom: 0;
    line-height: 3;
    background-color: white;
    color: black;
    text-align: center;
}

